.questionDataTable {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 40px;
  justify-content: flex-start;
  margin-right: 20px;
  overflow-x: auto;
}

textarea {
  padding: 16px;
  height: 400px;
  width: 600px;
  border-radius: 5px;
  line-height: 22.5px;
  border: none;
  background-color: rgb(222, 222, 222);
  color: purple;
  resize: none;
  font-size: 16px;
}
textarea:focus {
  outline: none;
}
.flex {
  padding-block: 20px;
  display: flex;
  gap: 10px;
  flex: 1;
}
.outputSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 600px;
  overflow: auto;
  height: 400px;
}
.output {
  font-weight: bold;
  font-size: 20px;

  margin-bottom: 20px;
}
.head {
  padding: 20px;
  border-bottom: 1px solid grey;
}

.code {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 30px;
}
.entityModels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  overflow: auto;
  /* height: 300px; */
  margin-bottom: 20px;
}
.flex2:nth-child(1) {
  margin-top: 20px;
}

.error::before {
  content: "* ";
  color: red;
}
.error {
  color: gray;
  padding-bottom: 20px;
}
