

@import url(https://db.onlinewebfonts.com/c/cdc23e6c6a3b86efb41254c747c2989d?family=Euclid+Circular+A);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Euclid Circular A';
}

footer{
  padding-top: 40px;
  border-top: 1px solid grey;
}