.questionDataTable {
  display: flex;
  flex: 1;
  gap: 10px;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 50px;
  justify-content: flex-start;
}

textarea {
  padding: 16px;
  height: 400px;
  width: 600px;
  
  border-radius: 5px;
  line-height: 22.5px;
  border: none;
  background-color: rgb(222, 222, 222);
  color: purple;
  resize: none;
  font-size: 16px;
}
textarea:focus {
  outline: none;
}
.flex {
  padding-block: 20px;
  display: flex;
  gap: 10px;
  flex: 1;
}
.outputSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  
}
.output {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.head {
  padding: 20px;
}

.code{
    display: flex;
    flex-direction: column ;
    gap:10px;
    margin-left: 30px;
}
.entityModels{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: center; */
}

.compiler{
  /* display: flex; */
}

.flex2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img{
  width: 30px;
  position: relative;
  left: 15px;
}